@* SPDX-License-Identifier: Apache-2.0 *@

<h1>Secure</h1>

<div>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>
</div>